.title{
    color: white;
    margin-left: 520px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;

}
  
.imagen{
    border-radius: 50%;
    background:url(../../assets/logo.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;

}